<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <contextName>logback-solon</contextName>

    <property name="ROOT_LEVEL" value="DEBUG"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-25d{yyyy-MM-dd HH:mm:ss.SSS} [%thread{20}] %-5level [%X{reqId}]%logger{50}:%line--> %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

	<logger name="org.flywaydb" level="DEBUG"/>

	<root level="${ROOT_LEVEL}">
		<appender-ref ref="console"/>
	</root>
</configuration>
